<launch>
      <node name="davinci_endo_left" pkg="image_view" type="image_view">
         <remap from="image" to="/davinci_endo/left/image_rect_color" />
      </node>
      <node name="davinci_endo_right" pkg="image_view" type="image_view">
          <remap from="image" to="/davinci_endo/right/image_rect_color" />
      </node>
      <node name="davinci_endo_disparity" pkg="image_view" type="disparity_view">
          <remap from="image" to="/davinci_endo/disparity" />
      </node>
</launch>

