<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find dvrk_model)/launch/empty_world.launch">
    <arg name="world_name" value="$(find dvrk_model)/launch/davinci_tissue.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

<param name="robot_description" command="$(find xacro)/xacro.py '$(find dvrk_model)/model/wsn_both_psms_rotated.urdf.xacro'" />

<!-- Spawn a robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model davinci" />

  <!-- ros_control launch file -->
  <include file="$(find dvrk_model)/launch/davinci_control_both.launch">
 </include>

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
<param name="rate" value="100" />

<node pkg="tf" type="static_transform_publisher" name="rcamera_frame_bdcst" args="0 0 0 -1.5708 0 -1.5708   right_camera_link right_camera_optical_frame 50"/>
<node pkg="tf" type="static_transform_publisher" name="lcamera_frame_bdcst" args="0 0 0 -1.5708 0 -1.5708   left_camera_link left_camera_optical_frame 50"/>

<!-- node pkg="tf" type="static_transform_publisher" name="rcamera_frame_bdcst" args="0 0 0.017355 -1.5708 0 -1.5708   right_camera_link right_camera_optical_frame 50"/-->
<!-- node pkg="tf" type="static_transform_publisher" name="lcamera_frame_bdcst" args="0 0 0.017355 -1.5708 0 -1.5708   left_camera_link left_camera_optical_frame 50"/-->

<!-- may need additional transforms to line up video, which is slightly shifted from point cloud; comment out for now  -->
<!--node pkg="tf" type="static_transform_publisher" name="camera_depth_frame" args="0.000 -0.020 0.000 0.000 0.000 0.000 1.000  $(arg camera_name)/camera_link $(arg camera_name)/camera_depth_frame 100"/-->

<!--node pkg="tf" type="static_transform_publisher" name="camera_depth_optical_frame" args="0.000 -0.020 0.000 -0.500 0.500 -0.500 0.500 $(arg camera_name)/camera_link $(arg camera_name)/camera_depth_optical_frame 100"/-->

<!--node pkg="tf" type="static_transform_publisher" name="camera_rgb_frame" args="0.000 -0.045 0.000 0.000 0.000 0.000 1.000 $(arg camera_name)/camera_link $(arg camera_name)/camera_rgb_frame 100"/-->

<!--node pkg="tf" type="static_transform_publisher" name="camera_rgb_optical_frame" args="0.000 -0.045 0.000 -0.500 0.500 -0.500 0.500  $(arg camera_name)/camera_link $(arg camera_name)/camera_rgb_optical_frame 100"/-->

 <!-- load the model "tissue" into Gazebo;         <uri>model://small_tissue</uri>
         <pose>0.0 0 0.815 0 0 0</pose> -->
<node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find cwru_davinci_models)models/small_tissue/model-1_4.sdf -sdf -model tissue -z 0.815" />   

</launch>
