<?xml version="1.0" encoding="utf-8"?>
<launch>
    <param name="robot_description" 
       textfile="$(find dvrk_model)/model/wsntest_psm_debug.base.urdf"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>

